*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: "Helvetica";
  margin: 0;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  border: 0;
  outline: 0;
}
