footer {
  border-top: 1px solid $l-gray;
  border-bottom: 1px solid $l-gray;
  margin-bottom: 44px;

  .footer__nav {
    &-social {
      justify-self: flex-end;
      display: flex;
      :last-child {
        margin-right: 0;
      }
    }
    &-link {
      margin-right: 20px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}
