.header {
  background-color: #f6f4f5;
  border-bottom: 1px solid rgba(202, 202, 214, 1);
}
.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 80px;

  &__list {
    display: flex;
    gap: 20px;
    transition: transform 0.7s ease;
    &.active {
      transform: translateX(0);
    }
  }

  &__link {
    @include text($font-primary, 400, 16px, 22px, $gray);
    text-transform: uppercase;
  }
  &__burger-menu {
    display: none;
    position: relative;
    span {
      display: inline-block;
      width: 30px;
      height: 2px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: $black;
      transition: 0.3s all ease-in-out;
    }
  }
  &__burger-menu::before,
  &__burger-menu::after {
    content: "";
    position: absolute;
    background-color: $black;
    width: 30px;
    height: 2px;
    left: 0;
    transition: 0.3s all ease-in-out;
  }
  &__burger-menu::before {
    top: 20px;
  }
  &__burger-menu::after {
    bottom: 14px;
  }

  &__logo {
    justify-self: center;
  }
  &__basket {
    justify-self: end;
    position: relative;
    margin-right: 5px;
  }
  /**Use when smth in the basket!=============
  &__basket--on span {
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
  }*/
}
